.body {
    background: #F5EE31;
    height: 350px;
    width: 250px;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
}

.tabsleft {
    display: inline-flex;
        flex-direction: row;
        align-items: stretch;
        z-index: -10;
        gap: 15px;
        margin-left: 60px
        
}




.eyes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 25px;
    z-index: 30;
}

.right,
.left {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 80%;
    border: 2px solid #000;
    margin-left: -8px;
}



.pupil {
    position: absolute;
    padding: 16px;
    border-radius: 80%;
    background: #85C1E9;
    border: 2px solid #000;
    position: relative;
}

.iris {
    position: relative;
    padding: 8px;
    border-radius: 60%;
    background: #000;
}

.noise {
    position: relative;
    background: #F5EE31;
    padding-top: 32px;
    margin-left: 116px;
    margin-right: 116px;
    margin-top: -35px;
    border: 2px solid #000;
    border-radius: 40%;
    border-bottom: 8px solid transparent;
    z-index: 10;
}


.mouth {
    width: 180px;
    height: 80px;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 35px;
    border-radius: 50%;
    border-bottom: 5px solid #000;
    z-index: 10;
}

.teeth {
    display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 10;
        gap: 5px;
}

.tooth1 {
    background: #fff;
    width: 21px;
    height: 22px;
    border: 3px solid #000;
    margin-top: 60px;
}
.tooth2 {
    background: #fff;
    width: 21px;
    height: 22px;
    border: 3px solid #000;
    margin-top: 60px;
}


.cheeks {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.cheek1 {
    width: 25px;
    height: 20px;
    background: transparent;
    position: relative;
    top: 30px;
    right: 10px;
    border: 3px solid #F1592A;
    border-bottom: 5px transparent;
    border-radius: 40% 40% 30% 30%;
}

.cheek2 {
    width: 25px;
    height: 20px;
    background: transparent;
    position: relative;
    top: 30px;
    left: 10px;
    border: 3px solid #F1592A;
    border-bottom: 5px transparent;
    border-radius: 40% 40% 30%
}





.t-shirt {
    width: 100%;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: 50px;
    border-top: 3px solid #000;
    z-index: 10;

}

.neck {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.triangleW1 {
    display: block;
    border-width: 20px 27px 50px;
    border-color: #000 transparent transparent;
    border-style: solid;
    z-index: 10px;
}

.necktie {
    display: block;
    width: 0;
    height: 0;
    border-width: 38px 35px 35px;
    border-color: #FF0000 transparent transparent transparent;
    border-style: solid;
}

.triangleW2 {
    display: block;
    border-width: 20px 27px 50px;
    border-color: #000 transparent transparent;
    border-style: solid;
    z-index: 10;
}

.neckrombo {
    width: 55px;
    height: 55px;
    background: #F00200;
    position: absolute;
    left: 98px;
    bottom: 7.5px;
    z-index: 50;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





.pants {
    border-top: 3px solid #000;
    margin-top: 140px;
    position: relative;
    background: #935116;
    height: 75px;
    width: 250px;
}

.belt {
    width: 40px;
    height: 15px;
    position: absolute;
    top: 20px;
    background: #000;
    z-index: 10;
}

.belt.one {
    left: 20px;
}

.belt.two {
    left: 70px;
}

.belt.three {
    right: 70px;
}

.belt.four {
    right: 20px;
}